*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin-top: 4em;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(6, 71, 68);
  box-shadow: 0 4px 2px -2px rgb(192, 150, 33);
  padding-right: 10%;
}

.navbar .navbar-nav {
  display: flex;
  gap: 1.3em;
}

.navbar .nav-separator {
  font-size: 1.5em;
  margin-top: -5px;
  color: rgb(192, 150, 33);
}

.navbar a,
.navbar a:hover {
  color: #eee;
  text-decoration: none;
  font-size: 16px;
}

.navbar a:hover {
  color: rgb(192, 150, 33);
}

.overlay {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(238, 211, 188);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.45;
  z-index: -5;
}

.overlay img {
  z-index: 10;
}

.booksTable {
  margin: 15px auto;
  width: 70%;
  border: 2px solid black;
}

.booksTable tbody tr {
  padding-left: 20px;
}

.bookTitle {
  font-family: Yaldevi, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.bookAuthor {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(54, 41, 29);
  font-weight: bold;
}

.removeBtn {
  font-size: 12px;
}

.removeBtn:hover {
  background-color: rgb(192, 150, 33);
}

.separator {
  width: 15%;
  height: 4px;
  background-color: rgb(192, 150, 33);
  margin: 0 auto;
  margin-block: 2em;
}

form {
  margin-top: 25px;
}

.input-group {
  max-width: 40%;
  margin: 0 auto;
}

input {
  font-size: 20px;
  font-weight: bold;
  font-family: Yaldevi, sans-serif;
}
